body {
  background-color: slategrey;
  color: white;
}

/************** Navigation Bar ****************/
.navbar {
  color: black;
}

#messageInput{
  width: 1000px;
}

.nav-margin {
  height: 130px;
}

/************** Messages Display **************/

.displayed-username,
.displayed-time,
.displayed-message {
  display: inline;
}

.displayed-message {
  font-size: 20px;
  margin-left: 10px;
}

.edit,
.delete-message {
  background-color: slategrey;
}

.edit:hover {
  background-color: rgb(165, 188, 211);
}

.delete-message:hover {
  background-color: tomato;
}

/*-------------------- Modal Styling----------------------- */
.modal {
  color: black;
}

/*---------------------JMOJI-------------------------------*/
.jemoji-info {
  display: none;
}