body {
  background-color: rgb(144, 172, 201);
}

/************** Navigation Bar ****************/

#messageInput{
  width: 1000px;
}

.nav-margin {
  height: 130px;
}

/************** Messages Display **************/

.displayed-username,
.displayed-time,
.displayed-message {
  display: inline;
}

.displayed-message {
  font-size: 20px;
  margin-left: 10px;
}

.edit,
.delete-message {
  background-color: slategrey;
}

.edit:hover {
  background-color: rgb(165, 188, 211);
}

.delete-message:hover {
  background-color: tomato;
}

/*-------------------- Modal Styling----------------------- */
.modal {
  color: black;
}

.dark-theme {
  background-color: rgb(57, 51, 68);
  color: white;
}

.large-txt {
  font-size: 2.75em;
}

.tomato {
  background-color: tomato;
}

.tan {
  background-color: tan;
}