body {
  background-color: slategrey;
  color: white;
}

/************** Messages Display **************/

.displayed-username,
.displayed-time,
.displayed-message {
  display: inline;
}

.displayed-message {
  font-size: 20px;
  margin-left: 10px;
}
